# env
.env
.env.*
!.env.example

# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.g.dart
*.freezed.dart

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GoogleService-Info.plist

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/google-services.json
*.jks
*.keystore

.DS_Store
